### Data Cleaning
Category_name, brand_name and item_description have null values. So we are processing this coulumns

In [2]:
import pandas as pd
# get data
df = pd.read_csv("https://raw.githubusercontent.com/jinchen1036/Product-Price-Prediction/main/data/sample_data.csv",sep=",")

In [3]:
def fill_missing_data(data):
    data['category_name'].fillna(value='Other', inplace=True)
    data.brand_name.fillna(value = "Unknown", inplace = True)
    data.item_description.fillna(value = "No description yet", inplace = True)
    return data

In [5]:
import numpy as np
mercaridf = fill_missing_data(df)
print(np.shape(mercaridf))
mercaridf.isnull().any()

(1000, 8)

train_id             False
name                 False
item_condition_id    False
category_name        False
brand_name           False
price                False
shipping             False
item_description     False
dtype: bool

In [6]:
mercaridf.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,748447,Polaroid Camera,3,Electronics/Cameras & Photography/Film Photogr...,Unknown,27.0,1,Film not included
1,674932,Vintage Ashtray,3,Vintage & Collectibles/Housewares/Coaster,Unknown,8.0,0,Sip n Smoke ashtray. Would make a cute gift!
2,586672,Matilda Jane weekender nwt,1,Women/Women's Handbags/Other,Unknown,52.0,0,NWT. Matilda Jane Clothing weekender bag. Over...
3,846012,Red Full Lace Wig,3,Women/Women's Accessories/Hair Accessories,Unknown,69.0,0,12 inches
4,1026408,EQUATE NICOTINE TRANSDERMAL SYSTEM,1,Other/Daily & Travel items/Personal Care,Unknown,19.0,0,13 patches left. Too strong for my husband.

### Remove Items with 0 price

In [8]:
mercaridf = mercaridf[mercaridf.price != 0]