<a href="https://colab.research.google.com/github/jinchen1036/Product-Price-Prediction/blob/main/Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jinchen1036/Product-Price-Prediction/main/data/sample_data.csv")

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.columns

Index(['train_id', 'name', 'item_condition_id', 'category_name', 'brand_name',
       'price', 'shipping', 'item_description'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   train_id           1000 non-null   int64
 1   name               1000 non-null   object
 2   item_condition_id  1000 non-null   int64
 3   category_name      996 non-null    object
 4   brand_name         561 non-null    object
 5   price              1000 non-null   float64
 6   shipping           1000 non-null   int64
 7   item_description   1000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 62.6+ KB

In [ ]:
df.head()

   train_id  ...                                   item_description
0    748447  ...                                  Film not included
1    674932  ...       Sip n Smoke ashtray. Would make a cute gift!
2    586672  ...  NWT. Matilda Jane Clothing weekender bag. Over...
3    846012  ...                                          12 inches
4   1026408  ...        13 patches left. Too strong for my husband.

[5 rows x 8 columns]

In [ ]:
brand=df.iloc[:,4]
brand

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
995      Dansko
996         BKE
997         NaN
998    Rae Dunn
999    Champion
Name: brand_name, Length: 1000, dtype: object

In [ ]:
len(brand.unique())

235

In [ ]:
brand.sort_values()

63            ALEX AND ANI
895    Abercrombie & Fitch
295    Abercrombie & Fitch
679                 Adidas
818                 Adidas
              ...
983                    NaN
986                    NaN
990                    NaN
993                    NaN
997                    NaN
Name: brand_name, Length: 1000, dtype: object

In [ ]:
brand.value_counts()

PINK                 37
Victoria's Secret    31
Nike                 25
LuLaRoe              19
Rae Dunn             10
                     ..
Pyrex                 1
Sharp                 1
Lenox                 1
Morphe Cosmetics      1
American Fighter      1
Name: brand_name, Length: 234, dtype: int64

In [ ]:
df_brand=pd.DataFrame(brand)
df_brand.count()

brand_name    561
dtype: int64