<a href="https://colab.research.google.com/github/jinchen1036/Product-Price-Prediction/blob/main/experiment/AttributeEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import itertools
import numpy as np
import pandas as pd

In [2]:
# read sample data
sample_df = pd.read_csv("https://raw.githubusercontent.com/jinchen1036/Product-Price-Prediction/main/data/sample_data.csv")
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   train_id           1000 non-null   int64
 1   name               1000 non-null   object
 2   item_condition_id  1000 non-null   int64
 3   category_name      996 non-null    object
 4   brand_name         561 non-null    object
 5   price              1000 non-null   float64
 6   shipping           1000 non-null   int64
 7   item_description   1000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 62.6+ KB

In [3]:
# drop row with missing value  as it not need in this task
sample_df.dropna(inplace=True)
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558 entries, 6 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   train_id           558 non-null    int64
 1   name               558 non-null    object
 2   item_condition_id  558 non-null    int64
 3   category_name      558 non-null    object
 4   brand_name         558 non-null    object
 5   price              558 non-null    float64
 6   shipping           558 non-null    int64
 7   item_description   558 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 39.2+ KB

In [ ]:
sample_df.head(5)

    train_id  ...                                   item_description
6    1477709  ...  University of Alabama pajama pants. Size XS. S...
8     711453  ...             Black off the shoulder top. Size small
10    834405  ...                                 No description yet
13     85037  ...  fresh format ready to go with otterbox low pri...
14     44256  ...                                          Brand New

[5 rows x 8 columns]

## Number of Categories for `brand_name` and `category_name`

In [ ]:
print("Number of categories for category_name attribute is ",len(sample_df.category_name.unique()))

Number of categories for category_name attribute is  183

In [ ]:
for category in sample_df.category_name.unique()[:5]:
  print(category)

Women/Other/Other
Women/Tops & Blouses/Blouse
Women/Shoes/Sandals
Electronics/Cell Phones & Accessories/Cell Phones & Smartphones
Women/Tops & Blouses/Tunic

In [ ]:
print("Number of categories for brand_name attribute is ",len(sample_df.brand_name.unique()))

Number of categories for brand_name attribute is  233

In [ ]:
for brand_name in sample_df.brand_name.unique()[:5]:
  print(brand_name)

Victoria's Secret
Mossimo
Express
HTC
Disney Collection

## One Hot Encoding - brand_name

In [29]:
 # using get_dummies, drop one column as it is correlated with other column
 encode_df = pd.get_dummies(sample_df[['brand_name']], drop_first=True)
 encode_df.head(5)

    brand_name_Abercrombie & Fitch  ...  brand_name_vineyard vines
6                                0  ...                          0
8                                0  ...                          0
10                               0  ...                          0
13                               0  ...                          0
14                               0  ...                          0

[5 rows x 232 columns]

In [30]:
merge_df = pd.concat([sample_df, encode_df], axis=1)
merge_df.head(5)

    train_id  ... brand_name_vineyard vines
6    1477709  ...                         0
8     711453  ...                         0
10    834405  ...                         0
13     85037  ...                         0
14     44256  ...                         0

[5 rows x 240 columns]

In [31]:
# drop brand_name as it no longer need
merge_df.drop(['brand_name'], axis=1, inplace=True)
merge_df.head(3)

    train_id  ... brand_name_vineyard vines
6    1477709  ...                         0
8     711453  ...                         0
10    834405  ...                         0

[3 rows x 239 columns]

## One Hot Encoding - category_name

### Get all unqiue category names

In [6]:
category_name_group = list(sample_df.category_name.unique())

In [18]:
category_names = list(itertools.chain(*map(lambda x: x.split('/'), category_name_group)))
len(category_names)

551

In [19]:
category_names_unique = set(category_names)
len(category_names_unique)

209

# Encoding category_name

In [24]:
category_df = pd.DataFrame(0, index=np.arange(len(sample_df)), columns=list(category_names_unique))
category_df.head(3)

   Full-Length  Animation  Athletic Apparel  ...  Pants  Handbag  Yoga & Pilates
0            0          0                 0  ...      0        0               0
1            0          0                 0  ...      0        0               0
2            0          0                 0  ...      0        0               0

[3 rows x 209 columns]

In [25]:
sample_df["category_name_group"] = sample_df.category_name.apply(lambda x: x.split('/'))

In [26]:
sample_df.head(3)

    train_id  ...              category_name_group
6    1477709  ...            [Women, Other, Other]
8     711453  ...  [Women, Tops & Blouses, Blouse]
10    834405  ...          [Women, Shoes, Sandals]

[3 rows x 9 columns]

In [27]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer(sparse_output=True)

category_encode_df = pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(sample_df.pop('category_name_group')),
                index=sample_df.index,
                columns=mlb.classes_)
category_encode_df.head(3)

    Above Knee, Mini  Accessories  ...  eBook Readers  iPad
6                  0            0  ...              0     0
8                  0            0  ...              0     0
10                 0            0  ...              0     0

[3 rows x 209 columns]

In [32]:
merge_df = merge_df.join(category_encode_df)

In [34]:
merge_df.drop(['category_name'], axis=1, inplace=True)
merge_df.head(3)

    train_id                                   name  ...  eBook Readers  iPad
6    1477709  Victoria's Secret Alabama sleep pants  ...              0     0
8     711453                              Black top  ...              0     0
10    834405                     Express flip flops  ...              0     0

[3 rows x 447 columns]