<a href="https://colab.research.google.com/github/jinchen1036/Product-Price-Prediction/blob/main/experiment/Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
# get data
df = pd.read_csv("https://raw.githubusercontent.com/jinchen1036/Product-Price-Prediction/main/data/sample_data.csv",sep=",")

In [5]:
# information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   train_id           1000 non-null   int64
 1   name               1000 non-null   object
 2   item_condition_id  1000 non-null   int64
 3   category_name      996 non-null    object
 4   brand_name         561 non-null    object
 5   price              1000 non-null   float64
 6   shipping           1000 non-null   int64
 7   item_description   1000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 62.6+ KB

In [12]:
# How many unique category_name
number_of_category_names = len(df.category_name.unique())
print(f"The number of category names is: {number_of_category_names}")

The number of category names is: 293