<a href="https://colab.research.google.com/github/jinchen1036/Product-Price-Prediction/blob/main/experiment/sample_data_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("https://media.githubusercontent.com/media/jinchen1036/Product-Price-Prediction/main/data/train.tsv",sep="\t")

In [3]:
random_state = 45

new_df = df.sample(n=1000, replace=False, random_state=random_state)

In [4]:
new_df

         train_id  ...                                   item_description
748447     748447  ...                                  Film not included
674932     674932  ...       Sip n Smoke ashtray. Would make a cute gift!
586672     586672  ...  NWT. Matilda Jane Clothing weekender bag. Over...
846012     846012  ...                                          12 inches
1026408   1026408  ...        13 patches left. Too strong for my husband.
...           ...  ...                                                ...
581369     581369  ...  Great used condition size 38, Dansko Clogs. Bl...
589933     589933  ...                                 No description yet
607839     607839  ...                               Brand new firm price
551139     551139  ...  Set of 2 Rae Dunn Home Bowls, brand new releas...
499736     499736  ...                                  In good condition

[1000 rows x 8 columns]

In [16]:
new_df.to_csv("sample_data.csv",index=False,header=True)