<a href="https://colab.research.google.com/github/jinchen1036/Product-Price-Prediction/blob/main/experiment/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://media.githubusercontent.com/media/jinchen1036/Product-Price-Prediction/main/data/train.tsv",sep="\t")

In [3]:
df.head(5)

   train_id  ...                                   item_description
0         0  ...                                 No description yet
1         1  ...  This keyboard is in great condition and works ...
2         2  ...  Adorable top with a hint of lace and a key hol...
3         3  ...  New with tags. Leather horses. Retail for [rm]...
4         4  ...          Complete with certificate of authenticity

[5 rows x 8 columns]

In [4]:
df.shape

(1482535, 8)