In [1]:
import itertools
import numpy as np
import pandas as pd

In [13]:
# read sample data
sample_df = pd.read_csv("../../data/sample_data.csv")
sample_df.head(2)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,748447,Polaroid Camera,3,Electronics/Cameras & Photography/Film Photogr...,NaN,27.0,1,Film not included
1,674932,Vintage Ashtray,3,Vintage & Collectibles/Housewares/Coaster,NaN,8.0,0,Sip n Smoke ashtray. Would make a cute gift!

In [16]:
def create_new_categories(x):
    try:
        categories = x.split('/')
        if len(categories) == 3:
            return pd.Series({'c1':categories[0].lower().strip(), 
                              'c2':categories[1].lower().strip(),
                              'c3':categories[2].lower().strip()})
        return pd.Series({'c1': None, 'c2':None, 'c3': None})
    except:
        return pd.Series({'c1': None, 'c2':None, 'c3': None})

In [17]:

new_df = pd.concat([sample_df[['train_id', 'name', 'item_condition_id', 'brand_name','price', 'shipping', 'item_description']], 
                    sample_df.category_name.apply(create_new_categories)], axis=1)

In [18]:
new_df.dropna(inplace=True)
new_df.shape

(557, 10)

In [19]:
new_df.head(3)

,train_id,name,item_condition_id,brand_name,price,shipping,item_description,c1,c2,c3
6,1477709,Victoria's Secret Alabama sleep pants,2,Victoria's Secret,8.0,1,University of Alabama pajama pants. Size XS. S...,women,other,other
8,711453,Black top,3,Mossimo,8.0,1,Black off the shoulder top. Size small,women,tops & blouses,blouse
10,834405,Express flip flops,3,Express,9.0,0,No description yet,women,shoes,sandals

In [20]:
new_df.c1.value_counts()

women                     298
beauty                     71
kids                       59
men                        47
electronics                29
home                       23
vintage & collectibles     18
sports & outdoors           8
other                       4
Name: c1, dtype: int64

In [22]:
print(len(new_df.c2.unique()))
new_df.c2.value_counts()

58

athletic apparel             66
makeup                       52
tops & blouses               50
shoes                        48
toys                         26
jeans                        25
sweaters                     22
jewelry                      20
underwear                    18
women's handbags             13
video games & consoles       13
cell phones & accessories    13
dresses                      13
kitchen & dining             12
men's accessories            12
women's accessories          11
boys 0-24 mos                 8
home d√©cor                    8
girls 2t-5t                   8
tops                          8
swimwear                      8
coats & jackets               7
fragrance                     7
pants                         6
other                         6
toy                           5
bath & body                   5
sweats & hoodies              5
skin care                     4
skirts                        4
electronics                   4
girls (4+)                    4
boys 2t-5t                    4
girls 0-24 mos                4
apparel                       3
tools & accessories           3
exercise                      3
boys (4+)                     3
trading cards                 3
daily & travel items          2
cameras & photography         2
clothing                      2
maternity                     2
collectibles                  1
tv, audio & surveillance      1
kids' home store              1
fan shop                      1
bedding                       1
feeding                       1
footwear                      1
housewares                    1
cleaning supplies             1
bags and purses               1
office supplies               1
gear                          1
shorts                        1
pet supplies                  1
suits & blazers               1
Name: c2, dtype: int64

In [25]:
print(len(new_df.c3.unique()))
new_df.c3.value_counts()

146

t-shirts                   32
pants, tights, leggings    26
face                       23
other                      21
eyes                       13
                           ..
yoga & pilates              1
capri, cropped              1
digital cameras             1
writing                     1
nfl                         1
Name: c3, Length: 146, dtype: int64