<a href="https://colab.research.google.com/github/jinchen1036/Product-Price-Prediction/blob/main/experiment/sample_data_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("https://media.githubusercontent.com/media/jinchen1036/Product-Price-Prediction/main/data/train.tsv",sep="\t")

In [3]:
random_state = 45

new_df = df.sample(n=1000, replace=False, random_state=random_state)

In [4]:
new_df

         train_id  ...                                   item_description
748447     748447  ...                                  Film not included
674932     674932  ...       Sip n Smoke ashtray. Would make a cute gift!
586672     586672  ...  NWT. Matilda Jane Clothing weekender bag. Over...
846012     846012  ...                                          12 inches
1026408   1026408  ...        13 patches left. Too strong for my husband.
...           ...  ...                                                ...
581369     581369  ...  Great used condition size 38, Dansko Clogs. Bl...
589933     589933  ...                                 No description yet
607839     607839  ...                               Brand new firm price
551139     551139  ...  Set of 2 Rae Dunn Home Bowls, brand new releas...
499736     499736  ...                                  In good condition

[1000 rows x 8 columns]

In [16]:
new_df.to_csv("sample_data.csv",index=False,header=True)

In [18]:
new_df.shape

(1000, 8)

In [19]:
df.shape

(1482535, 8)

In [21]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 748447 to 499736
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   train_id           1000 non-null   int64
 1   name               1000 non-null   object
 2   item_condition_id  1000 non-null   int64
 3   category_name      996 non-null    object
 4   brand_name         561 non-null    object
 5   price              1000 non-null   float64
 6   shipping           1000 non-null   int64
 7   item_description   1000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 70.3+ KB

In [22]:
new_df.isnull().sum()

train_id               0
name                   0
item_condition_id      0
category_name          4
brand_name           439
price                  0
shipping               0
item_description       0
dtype: int64

In [23]:
df.isnull().sum()

train_id                  0
name                      0
item_condition_id         0
category_name          6327
brand_name           632682
price                     0
shipping                  0
item_description          4
dtype: int64