<a href="https://colab.research.google.com/github/DSEI21000-S21/project-product-price-prediction/blob/main/experiment/feature_extraction/FeatureExtraction_ItemDescription_E1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# Google Drive Authen
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [86]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [40]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [50]:
# download sample data
drive.CreateFile({"id":"18Q86UkTlN2_hr5EviqMpAo9JKNE9jUsf"}).GetContentFile("sample_data.csv")

# download python functions
drive.CreateFile({"id":"1lQtmsLASMJJliF0XqIErqSaXRLkZeCWW"}).GetContentFile("extract_text_info.py")

# import functions from those python file
from extract_text_info import extract_general_text_info
from extract_text_info import extract_word_counts

In [42]:
df = pd.read_csv("sample_data.csv")

In [43]:
df.head()

   train_id  ...                                   item_description
0    748447  ...                                  Film not included
1    674932  ...       Sip n Smoke ashtray. Would make a cute gift!
2    586672  ...  NWT. Matilda Jane Clothing weekender bag. Over...
3    846012  ...                                          12 inches
4   1026408  ...        13 patches left. Too strong for my husband.

[5 rows x 8 columns]

In [ ]:
df.item_description

0                                      Film not included
1           Sip n Smoke ashtray. Would make a cute gift!
2      NWT. Matilda Jane Clothing weekender bag. Over...
3                                              12 inches
4            13 patches left. Too strong for my husband.
                             ...
995    Great used condition size 38, Dansko Clogs. Bl...
996                                   No description yet
997                                 Brand new firm price
998    Set of 2 Rae Dunn Home Bowls, brand new releas...
999                                    In good condition
Name: item_description, Length: 1000, dtype: object

In [88]:
# extract general text info
stop_words = stopwords.words('english')
extract_general_text_info(df,"item_description",stop_words )

     train_id  ... number_count
0      748447  ...            0
1      674932  ...            0
2      586672  ...            0
3      846012  ...            1
4     1026408  ...            1
..        ...  ...          ...
995    581369  ...            0
996    589933  ...            0
997    607839  ...            0
998    551139  ...            1
999    499736  ...            0

[1000 rows x 13 columns]

In [97]:
df.iloc[:,8:].sum()

upper_word_count      1929
upper_char_count     12786
stopword_count        7545
punctuation_count     5924
number_count           535
dtype: int64

**Explore various Text Feature Extraction Methods**


1.   CountVectorizer from Sklearn
2.   Tfidfvectorizer from Sklearn
3.   TfidfTransformer from Sklearn
4.   HashingVectorizer from Sklearn
5.   Gensim’s Word2Vec